:root {
  --transcription-text-size: 50%;
}

.App {
  
}

.body {
  max-width: 1700px;
  margin: auto auto;
}

.buttons-container {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 10;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.image-container {
  position: relative;
  
}

.page-image {
  position: absolute;
  top: 1%;
  left: 6%;
  max-width: 45%;
}

.book-image {
  width: 100%;
}

.text-container {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 100%;
  width: 40%;
}

.transcription-box {
  height: 80%;
  width: 100%;
  padding: auto;
  display: block;
  font-size: var(--transcription-text-size);
}

.help-info {
  font-size: small;
}

.completed-id {
  padding: .3rem;
}