:root {
  --transcription-text-size: 50%;
}

.App {
  
}

.body {
  margin: auto auto;
}

.buttons-container {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 10;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.book-container {
  height: 950px;
  display: flex;
}

.image-container {
  position: relative;
  height: 100%;
  margin: auto;
  flex: none;
}

.book-image {
  height: 100%;
  margin: auto;
}

.page-image {
  position: absolute;
  top: -1em;
  left: 3em;
  height: 100%;
}

.text-container {
  height: 100%;
  width: 20rem;
  position: relative;
}

.transcription-box {
  height: 80%;
  width: 40%;
  padding: auto;
  display: block;
  font-size: var(--transcription-text-size);
  position: absolute;
  top: 5%;
  left: 50%;
}

.help-info {
  font-size: small;
}

.completed-id {
  padding: .3rem;
}