.App {
  
}

.body {
  display: flex;
  max-width: 1000px;
  background-color: rgb(124, 124, 124);
  margin: auto auto;
}

.image-container {
  max-width: 600px;
  height: 800px;
  flex: auto;
}

.image-box {
  max-width: 100%;
  float: right;
}

.form-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: 400px;
  padding: 1rem;
  padding-top: 4rem;
}

form {
  height: 100%;
}

.transcription-box {
  height: 70%;
  width: 100%;
  padding: auto;
  display: block;
}

.username-box {
  display: block;
}

.completed-id {
  padding: .3rem;
}